.fileInput {
    display: none;
}

.part1 {
    margin: 3% 10% 50px 10%;
    display: flex;
    flex-direction: row;
}

.part1-inputarea {
    width: 100%;
}

.part1-buttonarea {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part1-buttonarea button {
    width: 40%;
    margin: 10px;
}

.input-textarea {
    width: 100%;
    height: 300px;
}

.error {
    color: red;
}

.hide {
    display: none;
}

.whole-line {
    width: 100%;
}

.panel-body {
    margin-left: 50px;
}

.panel-heading {
    margin: 10px;
}

.panel-heading a {
    font-size: 1.5em;
    border: 2px solid;
    border-radius: 20px;
    padding: 5px 10px;
}

.big-margin-bottom {
    margin-bottom: 500px;
}
